BeautifulSoup4~=4.11.1
requests~=2.28.1
pandas~=1.5.1
numpy~=1.23.4
lxml~=4.9.1
missingno
nltk~=3.7
textblob
snowballstemmer
matplotlib
seaborn
wordcloud
matplotlib==3.5.1
numpy==1.21.5
pandas==1.4.2
scikit_learn==1.2.1
spacy==3.3.1
joblib==1.1.0